@media screen and (max-width: 576px) {
    .hidden {
        display: none !important;
    }

    .nav-bar {

        justify-content: space-around;
        gap: 200px;

    }

    .banner-content {
        margin: 30px 16px;
    }

    .banner-title {
        font-size: 24px;
    }

    .banner-description {
        font-size: 14px;
    }

    .nav-img {
        width: 63px;
        height: 38px;
    }

    .icon {

        /* font-size: 22px; */
        /* font-weight: 500; */

    }





    /* banner design here */

    .banner {

        flex-direction: column-reverse;

    }


    /* plant design here */

    .plant-part {
        margin-top: 65px;
    }

    .pant-title {
        font-size: 24px;

    }

    .plant-description {
        font-size: 14px;
        margin: 30px 16px;
    }

    .pant-card {
        grid-template-columns: repeat(2, 50%);

        /* column-gap: 20PX; */

    }

    .card-img {
        width: 171px;
        height: 340px;
    }

    .card-button {
        width: 171px;
        height: 45px;

    }


    /* plant lover style here */


    .plant-lover {
        flex-direction: column;
        margin: 41px 17px;
    }

    .lover-img {
        width: 100%;
    }

    .lover-title {
        font-size: 24px;
        margin-top: -20px;

    }

    .lover-lists {
        padding-left: 17px;
    }

    .love-list {
        font-size: 14px;


    }


    /* letest deals style here */

    .letest-deal {
        margin: 65px 30px;
    }

    .content1,
    .content2,
    .content3 {
        width: 100%;
        height: 201px;
        
}

    .con3-p1 {
        font-size: 1.25rem;
        font-weight: bold;

    }

    .con3-p2 {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    .deal-title {
        font-size: 24px;
    }

    .deal-description {
        font-size: 14px;
    }

    .deal-content {
        margin-top: -50px;
        grid-template-columns: repeat(1, 1fr);
        margin-left: calc(100% - 95%);
    }


    /* color full design here */
    .colorfull-title {
        font-size: 1.325rem;
        color: white;
        padding-top: 20%;


    }

    .colorfull-button {
        width: 30%;

        margin-top: 20px;
        height: 40px;
        margin-bottom: 20%;
        border: none;
        margin-left: -4px;
        background-color: #E95A08;
        font-weight: 600;
        color: white;

    }


    .colorfull-input {
        width: 70%;
        border: none;
        height: 40px;
        margin: 0px;


    }




    /* footer design here */


    .foot-continer {
        flex-direction: column;
        margin-left: 30px;


    }

    .description {

        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
    }

    .containt-2 {
        margin-top: 20px;
    }


}